<div class="main">
  <div matRipple class="content">
    <div class="title">
      <h1>⏲️ stopwatch ⌚</h1>
    </div>

    <div class="subtitle">
      <p class="subtitle">
        Spending time with <span class="love">you</span> is so precious,<br>
        I <span class="love">love</span> every minute that we are together.
      </p>
    </div>

    <div class="timer-row">
      <div class="timer">
        <span class="value">{{ delta | date:'HH':'UTC' }}</span>
        <span class="title">Hours</span>
      </div>

      <div class="timer">
        <span class="value">{{ delta | date:'mm':'UTC' }}</span>
        <span class="title">Minutes</span>
      </div>

      <div class="timer">
        <span class="value">{{ delta | date:'ss':'UTC' }}</span>
        <span class="title">Seconds</span>
      </div>

      <div class="timer">
        <span class="value">{{ delta | date:'SS':'UTC' }}</span>
        <span class="title">Centiseconds</span>
      </div>
    </div>

    <div class="subtitle">
      <p class="subtitle">
        Everything was born on 12 October 1999 at 19:20.
      </p>
    </div>

    <div class="control-row">
      <button mat-raised-button color="primary" [disabled]="active" (click)="start()">
        Start
      </button>
      <button mat-raised-button color="primary" [disabled]="!active" (click)="stop()">
        Stop
      </button>
      <button mat-raised-button color="warn" (click)="reset()">
        Reset
      </button>
    </div>

    <div class="control-row">
      <p><a mat-button target="_blank" href="https://github.com/1995parham">@1995parham 🧡</a></p>
    </div>
  </div>
</div>
